header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(183, 182, 181);
}
.imgLogo{
    width: 8%;
    margin-left: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btnNav {
    background-color: rgb(239, 235, 235);
    --color: #560bad;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   .btnNav:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   .btnNav:hover {
    color: #fff;
   }
   .btnNav:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   .btnNav:hover:before {
    top: -30px;
    left: -30px;
   }
   .btnNav:active:before {
    background: #3a0ca3;
    transition: background 2s;
   }